h1 {
    color: red
}
p {
    color: green 
}
#chosen {
    border: 1px solid brown;
}
.foo {
    text-transform: uppercase;
}
* {
    background: rgb(224, 220, 220)
}
p::first-letter {
    font-size: 2rem;
}
p:hover {
    background-color: yellow;
}
div p {
    font-weight: bold;
}